@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPS-BoldItalicMT";
  font-display: swap;
  src: url("../fonts/TimesNewRomanPS-BoldItalicMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-BoldItalicMT.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  font-display: swap;
  src: url("../fonts/TimesNewRomanPS-BoldMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-BoldMT.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPS-ItalicMT";
  font-display: swap;
  src: url("../fonts/TimesNewRomanPS-ItalicMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-ItalicMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanPSMT";
  font-display: swap;
  src: url("../fonts/TimesNewRomanPSMT.woff") format("woff"), url("../fonts/TimesNewRomanPSMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
source {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: times new roman;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

picture {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  z-index: 3;
}

.navigation {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__ul__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation__ul ul {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.navigation__ul ul li a {
  font-family: TimesNewRomanPSMT;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation__ul ul li a:hover {
  text-shadow: 0 0 1px #333333;
}

.navigation__ul ul #marker1 {
  position: absolute;
  height: 2px;
  left: 0;
  width: 0;
  background-color: #1a1a1a;
  bottom: 56px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation__ul ul #marker2 {
  position: absolute;
  height: 2px;
  left: 0;
  width: 0;
  background-color: #1a1a1a;
  bottom: 56px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button button {
  width: 300px;
  height: 100px;
  border: 10px solid #121212;
  color: #010101;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button button:hover {
  -webkit-box-shadow: 0px 0px 10px #121212;
          box-shadow: 0px 0px 10px #121212;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(18, 18, 18, 0.15);
  text-shadow: 1px 2px 3px #e7e5d0;
}

.button button:active {
  -webkit-box-shadow: inset 0px 0px 10px #121212;
          box-shadow: inset 0px 0px 10px #121212;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.upto2 {
  margin: -2px 0px 0px 0px;
}

.icons {
  margin: 0 auto 70px auto;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.icons a img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  max-width: 34px;
  height: 34px;
}

.icons a:hover img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.icons a:active img {
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes move__menu {
  0% {
    left: 200px;
  }

  100% {
    left: 0;
  }
}

@keyframes move__menu {
  0% {
    left: 200px;
  }

  100% {
    left: 0;
  }
}

/*style*/

body {
  font-family: fa-regular-400, Roboto-Regular, TimesNewRomanPSMT, TimesNewRomanPS-ItalicMT, TimesNewRomanPS-BoldMT, TimesNewRomanPS-BoldItalicMT, OpenSans-Regular, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  height: 100%;
  min-width: 315px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*=====================================header================================================*/

.header {
  position: relative;
}

.header__bg {
  width: 100%;
  position: relative;
}

.header__bg img {
  width: 100%;
  height: 100%;
}

.header__bg .logo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.header__bg .logo .none {
  visibility: hidden;
}

.header__nav {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
}

.header__nav #hamburger {
  display: none;
}

.header__nav ul li a {
  color: #1a1a1a;
  z-index: 50;
}

.header__aboutUS {
  margin: -3px 0px 0px 0px;
}

.header__aboutUS .aboutRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__aboutUS .aboutRow__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-color: #f2efe5;
}

.header__aboutUS .aboutRow__column .aboutBody {
  position: relative;
  width: 100%;
}

.header__aboutUS .aboutRow__column .aboutBody__img img {
  width: 100%;
}

.header__aboutUS .aboutRow__column .aboutBody2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 540px;
  height: 270px;
  margin: 91px auto 0px auto;
}

.header__aboutUS .aboutRow__column .aboutBody2 h4 {
  color: #000000;
  font-family: TimesNewRomanPSMT;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__aboutUS .aboutRow__column .aboutBody2 p {
  line-height: 16px;
  font-family: TimesNewRomanPSMT;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

/*=====================================section1================================================*/

.section1 {
  margin-top: -3px;
}

.section1 .section1Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .section1Row__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.section1 .section1Row__column .tatuPhoto {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
  z-index: 30;
}

.section1 .section1Row__column .tatuPhoto__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 200, 182, 0.66);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 5px #ccc8b6;
          box-shadow: 0px 0px 5px #ccc8b6;
}

.section1 .section1Row__column .tatuPhoto__hover:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section1Row__column .tatuPhoto__hover .zoom {
  margin: 35% auto 10% auto;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.section1 .section1Row__column .tatuPhoto__hover .zoom img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section1Row__column .tatuPhoto__hover .zoom:hover img {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section1Row__column .tatuPhoto__hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 28px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section1 .section1Row__column .tatuPhoto__hover ul li a:hover img {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section1Row__column .tatuPhoto__hover ul li a img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section1Row__column .tatuPhoto img {
  width: 100%;
  height: 100%;
}

/*=====================================section2================================================*/

.section2 {
  width: 100%;
}

.section2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2__row .s2img {
  position: relative;
  height: 100%;
  width: 100%;
}

.section2__row .s2img__bg img {
  width: 100%;
  height: 100%;
}

.section2__row .s2img__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.section2__row .s2img__text .textHeader {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f2efe5;
  font-family: TimesNewRomanPS-BoldItalicMT;
  font-size: 24px;
  font-weight: 400;
}

.section2__row .s2img__text .textHeader .bracket1 {
  font-size: 150px;
}

.section2__row .s2img__text .textHeader__main {
  max-width: 740px;
  text-align: center;
  margin-top: 80px;
}

.section2__row .s2img__text .textHeader .bracket2 {
  font-size: 150px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 60px;
  display: block;
}

.section2__row .s2img__text .textHeader__twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2__row .s2img__text .textHeader__twitter .main2 {
  color: #f2efe5;
  font-size: 22px;
  line-height: 22px;
  text-align: left;
  margin-top: 35px;
}

.section2__row .s2img__text span {
  color: #f2efe5;
  font-family: TimesNewRomanPS-BoldItalicMT;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 30%;
}

.section2__row .section2__column {
  background-color: #ccc8b6;
}

.section2__row .section2__column .imgS2c__Girl {
  position: relative;
}

.section2__row .section2__column .imgS2c__mainText {
  margin: 125px 5% 0px 5%;
}

.section2__row .section2__column .imgS2c__mainText h3 {
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section2__row .section2__column .imgS2c__mainText p {
  color: #000000;
  font-family: OpenSans-Regular;
  font-size: 14px;
  text-align: left;
  margin: 52px 0px 48px 0px;
}

.section2__row .section2__column .formS2 {
  background-color: #f2efe5;
  min-width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2__row .section2__column .formS2 h4 {
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  width: 300px;
}

.section2__row .section2__column .formS2 h5 {
  margin: 5px 0px 0px 0px;
  font-family: TimesNewRomanPSMT;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
  width: 300px;
}

.section2__row .section2__column .formS2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2__row .section2__column .formS2 form input {
  width: 290px;
  height: 40px;
  border: 2px solid black;
  background: none;
  margin: 41px 0px 22px 0px;
  outline: none;
}

.section2__row .section2__column .formS2 form input::-webkit-input-placeholder {
  opacity: 0.45;
  color: #333333;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}

.section2__row .section2__column .formS2 form input::-moz-placeholder {
  opacity: 0.45;
  color: #333333;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}

.section2__row .section2__column .formS2 form input:-ms-input-placeholder {
  opacity: 0.45;
  color: #333333;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}

.section2__row .section2__column .formS2 form input::-ms-input-placeholder {
  opacity: 0.45;
  color: #333333;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}

.section2__row .section2__column .formS2 form input::placeholder {
  opacity: 0.45;
  color: #333333;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0px 0px 0px 20px;
}

.section2__row .section2__column .formS2 form button {
  width: 300px;
  height: 40px;
  background-color: #9a977a;
  color: #ffffff;
  font-family: TimesNewRomanPSMT;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.section2__row .section2__column .formS2 form button:hover {
  -webkit-box-shadow: 0px 1px 5px #9a977a;
          box-shadow: 0px 1px 5px #9a977a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section2__row .section2__column .formS2 form button:active {
  -webkit-box-shadow: inset 0px 0px 10px #121212;
          box-shadow: inset 0px 0px 10px #121212;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*=====================================section3================================================*/

.section3 {
  width: 100%;
}

.section3 .section3row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section3 .section3row__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .section3row .gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  background-color: #afac9c;
  position: relative;
}

.section3 .section3row .photoRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tatuPhoto2 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
  z-index: 30;
}

.tatuPhoto2__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 200, 182, 0.66);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 5px #ccc8b6;
          box-shadow: 0px 0px 5px #ccc8b6;
}

.tatuPhoto2__hover:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tatuPhoto2__hover .zoom {
  margin: 35% auto 10% auto;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.tatuPhoto2__hover .zoom img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tatuPhoto2__hover .zoom:hover img {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tatuPhoto2__hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 28px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tatuPhoto2__hover ul li a:hover img {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tatuPhoto2__hover ul li a img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tatuPhoto2 img {
  width: 100%;
  height: 100%;
}

/*=====================================section3================================================*/

.section4 {
  background-color: #e7e5d0;
}

.section4 .section4Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 183px 0px 153px 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section4 .section4Row__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 2%;
}

.section4 .section4Row__column .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 567px;
}

.section4 .section4Row__column .rightSide .button {
  position: relative;
}

.section4 .section4Row__column .rightSide p {
  margin: 118px 0 70px 0;
  text-align: center;
}

.section4 .section4Row__column .rightSide .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.section4 .section4Row__column .rightSide .information .info p {
  text-align: left;
  color: #000000;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

.section4 .section4Row__column .rightSide .information .info__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 122px 0px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section4 .section4Row__column .rightSide .information .info__information p {
  margin: 0;
  padding: 0;
}

.section4 .section4Row__column .rightSide .information .info__information p span {
  font-family: TimesNewRomanPSMT;
  text-transform: uppercase;
}

.section4 .section4Row__column .rightSide .information .info__information p span.lowercase {
  text-transform: lowercase;
  font-family: TimesNewRomanPS-BoldMT;
}

.section4 .section4Row__column .rightSide .information .info__information p span.capitalize {
  text-transform: capitalize;
  font-family: TimesNewRomanPS-BoldMT;
}

.section4 .section4Row__column .rightSide .icons {
  width: 400px;
  margin: 0 auto 0 auto;
}

.section4 .section4Row__column .leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .section4Row__column .leftSide .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.section4 .section4Row__column .leftSide .form form input {
  width: 470px;
  height: 60px;
  border: 2px solid #000000;
  background: none;
  font-family: TimesNewRomanPSMT;
  font-size: 14px;
  line-height: 24px;
  outline: none;
}

.section4 .section4Row__column .leftSide .form form input::-webkit-input-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form input::-moz-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form input:-ms-input-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form input::-ms-input-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form input::placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form textarea {
  width: 473px;
  height: 220px;
  border: 2px solid #000000;
  background: none;
  font-family: TimesNewRomanPSMT;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  padding: 15px 0px 0px 0px;
}

.section4 .section4Row__column .leftSide .form form textarea::-webkit-input-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form textarea::-moz-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form textarea:-ms-input-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form textarea::-ms-input-placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form textarea::placeholder {
  padding: 0px 0px 0px 20px;
  color: #333333;
  text-transform: uppercase;
}

.section4 .section4Row__column .leftSide .form form button {
  width: 370px;
  height: 60px;
  background-color: #9a977a;
  color: #ffffff;
  font-family: TimesNewRomanPS-BoldMT;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}

.section4 .section4Row__column .leftSide .form form button:hover {
  -webkit-box-shadow: 0px 1px 5px #9a977a;
          box-shadow: 0px 1px 5px #9a977a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section4 .section4Row__column .leftSide .form form button:active {
  -webkit-box-shadow: inset 0px 0px 10px #121212;
          box-shadow: inset 0px 0px 10px #121212;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*=====================================section3================================================*/

.section5 .map iframe {
  width: 100%;
  height: 800px;
}

/*=====================================section3================================================*/

.footer {
  background-color: #aeaeae;
  padding: 0px 0px 65px 0px;
}

.footer__nav {
  padding: 170px 0px 115px 0px;
}

.footer__nav ul li a {
  color: #1a1a1a;
  z-index: 50;
}

.footer p {
  text-align: center;
  margin: 0px 2%;
}

@media (max-width: 1300px) {
  .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .order2:last-child {
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
  }

  .order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }

  .icons a img {
    max-height: 34px;
  }

  .section2__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .section2__row .section2__column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .section2__row .section2__column:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .section2__row .section2__column .imgS2c img {
    width: 100%;
    height: 100%;
  }

  .section2__row .section2__column .formS2 {
    min-width: 100%;
  }
}

@media (max-width: 1200px) {
  .header__aboutUS .aboutRow__column .aboutBody2 {
    margin: 30px 3% 0px 3%;
  }

  .section2__row .s2img__text {
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .oRder1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .oRder2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .section4 .section4Row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section4 .section4Row__column .leftSide .form {
    height: 550px;
    margin: 0px 0px 180px 0px;
  }
}

@media (max-width: 992px) {
  .header__aboutUS .aboutRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__aboutUS .aboutRow__column .aboutBody2 {
    margin: 51px auto;
    max-width: 94%;
  }

  .section2__row .s2img__text .textHeader {
    width: 650px;
  }

  .section2__row .s2img__text .textHeader .bracket1 {
    font-size: 60px;
    margin-top: 4px;
  }

  .section2__row .s2img__text .textHeader__main {
    margin-top: 35px;
  }

  .section2__row .s2img__text .textHeader .bracket2 {
    font-size: 60px;
  }

  .section3 .section3row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section3 .section3row__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .section3 .section3row .gallery {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: 250px;
  }

  .section4 .section4Row {
    padding: 90px 0px;
  }
}

@media (max-width: 768px) {
  .section1 .section1Row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section2__row .s2img__text .textHeader {
    font-size: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section2__row .s2img__text .textHeader__main {
    max-width: 540px;
  }

  .section2__row .s2img__text .textHeader .bracket2 {
    margin-top: 43px;
  }

  .section2__row .s2img__text .textHeader__twitter .main2 {
    max-width: 540px;
    margin-top: 15px;
  }

  .section2__row .section2__column .formS2 h4,
  .section2__row .section2__column .formS2 h5 {
    width: 200px;
  }

  .section2__row .section2__column .formS2 form input {
    width: 190px;
  }

  .section2__row .section2__column .formS2 form button {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .navigation {
    padding: 0;
  }

  .navigation__ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(242, 239, 229, 0.6);
    -webkit-animation-name: move__menu;
            animation-name: move__menu;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    z-index: 15;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 1.0s;
    -o-transition: 1.0s;
    transition: 1.0s;
  }

  .navigation__ul ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 21px;
    padding: 0;
  }

  .navigation__ul ul a {
    padding: 10px 15px;
  }

  .navigation__ul.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 1.0s;
    -o-transition: 1.0s;
    transition: 1.0s;
  }

  .navigation__ul ul li a:hover {
    background-color: rgba(154, 151, 122, 0.4);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .navigation__ul ul #marker1 {
    display: none;
  }

  .navigation__ul ul #marker2 {
    display: none;
  }

  .header__bg .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }

  .header__nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    overflow: auto;
  }

  .header__nav ul .navigation__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__nav ul li {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 10px;
  }

  .header__nav ul li a {
    padding: 10px 15px;
  }

  .header__nav #hamburger {
    right: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 3% 6px 0px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    border-radius: 5px;
    z-index: 70;
  }

  .header__nav #hamburger.ah {
    -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
            box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 1.0s;
    -o-transition: 1.0s;
    transition: 1.0s;
    border-radius: 5px;
    background-color: rgba(175, 172, 156, 0.15);
    border: 0.5px solid #afac9c;
  }

  .header__nav #hamburger:hover {
    -webkit-box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
            box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 1.0s;
    -o-transition: 1.0s;
    transition: 1.0s;
    border-radius: 5px;
    background-color: rgba(175, 172, 156, 0.15);
    border: 0.5px solid #afac9c;
  }

  .header__nav #hamburger:active {
    -webkit-box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
  }

  .header__nav #hamburger__line {
    height: 3px;
    width: 30px;
    background-color: #afac9c;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    border-radius: 5px;
  }

  .header__nav #hamburger div:nth-child(1) {
    margin: 4px 0px 0px 0px;
  }

  .header__nav #hamburger div:nth-child(2) {
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__nav #hamburger div:nth-child(3) {
    margin: 0px 0px 3px 0px;
  }

  .header__nav #hamburger.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .header__nav #hamburger.open div:nth-child(1) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0%;
    position: absolute;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__nav #hamburger.open div:nth-child(2) {
    display: none;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__nav #hamburger.open div:nth-child(3) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0%;
    position: absolute;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .footer__nav {
    display: none;
  }

  .footer p {
    padding: 65px 0px 0px 0px;
  }
}

@media (max-width: 767px) and (max-width: 380px) {
  .header__nav ul .navigation__logo img {
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .section2__row .s2img__bg {
    height: 154px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section2__row .s2img__text .textHeader .bracket1 {
    display: none;
  }

  .section2__row .s2img__text .textHeader__main {
    margin-bottom: 15px;
    max-width: 440px;
  }

  .section2__row .s2img__text .textHeader .bracket2 {
    display: none;
  }

  .section2__row .s2img__text .textHeader__twitter .main2 {
    max-width: 375px;
    font-size: 18px;
    margin: 10px 2% 0px 2%;
  }

  .section4 .section4Row__column .rightSide .information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section4 .section4Row__column .rightSide .workHours {
    margin-right: 17px;
  }

  .section4 .section4Row__column .leftSide .form form input,
  .section4 .section4Row__column .leftSide .form form textarea,
  .section4 .section4Row__column .leftSide .form form button {
    width: 350px;
  }

  .section5 .map iframe {
    height: 550px;
  }
}

@media (max-width: 480px) {
  .header__bg .logo .logoImg {
    width: 200px;
    height: 90px;
  }

  .section1 .section1Row__column .tatuPhoto__hover .zoom {
    margin: 25% auto 10% auto;
  }

  .section2__row .section2__column .formS2 h4,
  .section2__row .section2__column .formS2 h5 {
    width: 175px;
  }

  .section2__row .section2__column .formS2 form input {
    width: 165px;
    height: 30px;
    margin: 22px 0 22px 0;
  }

  .section2__row .section2__column .formS2 form button {
    width: 175px;
    height: 30px;
  }

  .tatuPhoto2__hover .zoom {
    margin: 25% auto 10% auto;
  }
}

@media (max-width: 420px) {
  .section4 .section4Row__column .rightSide .icons {
    width: 300px;
  }
}

@media (max-width: 380px) {
  .section2__row .s2img__text .textHeader__main {
    margin-bottom: 15px;
    max-width: 315px;
  }

  .section2__row .s2img__text .textHeader__twitter .main2 {
    max-width: 300px;
    margin: 5px 2% 0px 2%;
  }

  .section2__row .section2__column .formS2 h4,
  .section2__row .section2__column .formS2 h5 {
    width: 150px;
  }

  .section2__row .section2__column .formS2 form input {
    width: 140px;
    height: 30px;
    margin: 15px 0 15px 0;
  }

  .section2__row .section2__column .formS2 form button {
    width: 150px;
    height: 30px;
  }

  .section4 .section4Row__column .rightSide p {
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  .section4 .section4Row__column .leftSide .form form input,
  .section4 .section4Row__column .leftSide .form form textarea,
  .section4 .section4Row__column .leftSide .form form button {
    width: 290px;
  }
}